/*^ ============== GOOGLE FONTS ============== ^*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700^display=swap');

/*^ ============== VARIABLE CSS ============== ^*/
:root {
    /*& --------- Colors --------- &*/
    --hue-color: 210;

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 96%, 54%);
    --first-color-light: hsl(var(--hue-color), 96%, 69%);
    --title-color: hsl(var(--hue-color), 12%, 15%);
    --text-color: hsl(var(--hue-color), 12%, 35%);
    --text-color-light: hsl(var(--hue-color), 12%, 65%);
    --white-color: #fff;
    --body-color: hsl(var(--hue-color), 100%, 99%);
    --container-color: #fff;

    /*& --------- Font & Typography --------- &*/
    --body-font: 'Lato', sans-serif;

    --biggest-font-size: 1.75rem;
    --h2-font-size: 1.3rem;
    --big-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .9rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;
    
    /*& --------- Margenes Bottom --------- &*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
}   

/*^ ============== BASE ============== ^*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: 900;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

/*^ ============== COMMON ============== ^*/
.text-center {
    text-align: center !important;
}

/*^ ============== CSS CLASSES ============== ^*/
.container {
    min-height: 100vh;
    width: 100vw;

    display: flex;

    background-image: linear-gradient(
              135deg,
              #D73350,
              #FC6F69
            );
    /* background-image: linear-gradient(
        to right,
        #d6ff7f,
        #00b3cc
    ); */
    background-color: gray;
}

#card {
    width: 23%;
    min-width: 320px;
    /* height: 90%;
    min-height: 600px; */
    margin: auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 25px 0px #333;
    display: flex;
    flex-direction: column;
}

/*& ------- GENERAL INFO Section ------- &*/
#info {
    padding: 1.25rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.info__avatar {
    margin-bottom: 0.40rem;
}

.info__heading {
    margin-bottom: 0.25rem;
}

.flash-effect {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.flash-effect:before {
    content: "";
    width: 14px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%) rotate(15deg);
    animation: flash 1.7s infinite;
}

@keyframes flash {
    to {
      transform: translateX(100%) rotate(15deg);
      left: 100%;
    }
}

.info__description {
    font-size: var(--normal-font-size);
    line-height: 1.3;
}

/*& ------- LINK Section ------- &*/
#link {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: auto;
    margin-bottom: auto; */
    padding: 1.8rem 0 2rem;
}

.box {
    display: flex;
    align-items: center;
    padding: 0.5rem 0rem;
    width: 85%;
    border-radius: 3rem;
    background-color: #ccc; /* fallback color */
    transition: all 0.2s ease;
}

.box:hover {
    opacity: 0.85;
}

.box + .box {
    margin-top: 1rem;
}

.box__icon {
    flex: 1;
    font-size: 1.1rem;
    color: #fff;
}

.box__text {
    flex: 3;
    transform: translateX(-10%);
    font-size: var(--big-font-size);
    font-weight: 400;
    color: #fff;
}

.box--facebook {
    background: linear-gradient(45deg, #3b5998, #899bc1);
}

.box--messenger {
    background: linear-gradient(120deg, #006AFF, #00B2FF);
}

.box--instagram {
    /* background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); */
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}

.box--photogram {
    background: linear-gradient(225deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}

.box--email {
    background: linear-gradient(to right, #cb2d3e, #ef473a);
    background: linear-gradient(45deg, #e63b61, #ff4b2b);
}

.box--github {
    background:linear-gradient(45deg, #4078c0, #6e5494, #6cc644);
}

.box--steam {
    background:linear-gradient(240deg, #00adee, #005777);
}

/*& ------- QOUTES Section ------- &*/
.qoutes {
    margin-bottom: 1rem;
    font-size: var(--small-font-size);
    font-style: italic;
}


